* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

html {
  
}

.app {
  width: 100%;
  min-height: 100vh; 
  background: linear-gradient(45deg, #00d9ff, #007eff);
}


.app-wrapper{
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}